<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title> _- Vitor Atair -_</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" media="screen and (min-width:800px)">
    <link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/javascripts/prettify/src/prettycss.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/smallscreens.css" media="screen and (max-width:800px)">    
  </head>

  <body>
<!--     <a href="https://github.com/tableless/iniciantes" class="lnk-fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->

    <header>
      <div class="limit">
        <h1><a href="/">Vitor Atair</a></h1>
        <h2><font color="#FFF">desenvolvimento de software e linux</font></h2>
      </div>
    </header>
